* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #1A1D23;
  --highligth: #FF57B2;
  --heading: #F8F8F8;
  --info: #BBBBBB;
  --body: #D7D7D7;

}

@media (min-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (min-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--background);
  color: var(--body);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
