// TODO
.headerContainer {
  height: 6.25rem;
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  a {
    img {
      height: 100%;
      width: 240px;
    }
  }
}
